@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=DM+Sans&display=swap");
/* Navbar */
nav {
  background-color: #094886;
  height: 6rem !important;
}
.navbar-brand {
  font-family: "Cormorant", serif;
  font-size: 1.875rem !important;
}
.navbar-nav > li > a {
  font-family: "DM Sans", sans-serif;
  font-size: 0.938rem !important;
  margin: auto 0.75rem;
  border-top: 3px solid #094886;
}
.navbar-nav > li > a:hover {
  border-top: 3px solid #2cb8f0;
}
.about {
  background-color: #094886;
}
